.inline-block {
    display: inline-block;
    vertical-align: top;
}

.headerLink {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


nav {
    background-color: #1E2329;
    width: 96%;
    float: none;
    padding: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    vertical-align: top;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}



body {
    background-color: #1E2329;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: left center;
}


.content {
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    background-color: #1E2329;
}

}

.heroImg {
    height: 600px;
    padding: 25px;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 150px;
}

footer {
    background-color: #1E2329;
    width: 96%;
    float: none;
    padding: 1%;
    margin: 1%;
}

.footerP {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    vertical-align: top;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}