.inline-block {
    display: inline-block;
    vertical-align: top;
}

.headerLink {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


nav {
    background-color: #1E2329;
    width: 100%;
    float: none;
    padding: 15px;
    margin: 25px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}

.heroImg {
    position: absolute;
width: 385px;
height: 792px;
left: 64px;
top: 181px;
}

body {
    background-color: #1E2329;
}


.content {
    margin-right: auto;
    margin: 0 auto;
    background-color: #3B4046;
    position: absolute;
width: 868px;
height: 792px;
left: 475px;
top: 181px;
}


/*PARAGRAPH ABOUT ME*/

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
font-size: 36px;
line-height: 42px;
margin-top: 250px;
margin-left: 20px;
}


/*HEADER*/

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    position: absolute;
font-weight: 900;
font-size: 64px;
line-height: 75px;
margin-left: 25px;
}